@import url("css_reset.css");
/* ======================
    FOOTER CSS
====================== */
.footer {
  border-radius: 15px 15px 0 0;
  position: relative;
  background-color: #0e0e0e;
  padding: 25px 0;
  box-shadow: 0 4px 20px rgb(0, 0, 0, 0.7);
}

.footer p {
  font: 15px "Segoe UI", Arial, sans-serif;
  text-align: center;
  color: #fff;
  margin: 10px auto;
}

.footer a i.fa-instagram {
  color: #e2ba83;
  text-decoration: none;
  padding: 0 10px;
}
.footer a i.fa-github {
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
}

.footer a i.fa-whatsapp {
  color: #63E6BE;
  padding: 0 10px;
}

.footer a i:hover {
  text-shadow: 0 0 8px #fff;
  animation-play-state: paused;
}

