@import url("css_reset.css");
/* collor pallete: https://colorhunt.co/palette/ebf4dd90ab8b5a78633b4953 */
/* EBF4DD
90AB8B
5A7863
3B4953 */

body{
  background-color: #EBF4DD;
}

/* ====== CONTENT ====== */
.content {
  font-family: "Segoe UI", Arial, sans-serif;
  background-image: url("../image/bg/wood-terang.jpg");
  background-size: 85px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
  position: relative;
  left: 15%;
  right: 15%;
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 20px 0;
  border-radius: 15px;
}

.content-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.dynapuff-title {
  background-image: url("../image/bg/wood.jpg");
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-family: "DynaPuff", system-ui;
  font-size: 45px;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* ====== PORTO CARD ====== */
.content .xporto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap:40px;
}

.content .xporto a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  text-decoration: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s, box-shadow 0.3s;
}

.content .xporto a:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.content .xporto a .card-text {
  font-family: inherit;
  width: 100%;
  margin-top: auto;
  padding: 15px 10px;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  text-align: center;
  background-color: #fff;
}

.content .xporto a.kevin {
  background-image: url("../image/img_kevin/kevin.png");
  background-size: cover;
  height: 300px;
}

.content .xporto a.panji {
  background-image: url("../image/img_panji/profil_panji.jpg");
  background-size: cover;
  height: 300px;
}

.content .xporto a.rian {
  background-image: url("../image/img_rian/rian.jpeg");
  background-size: cover;
  height: 300px;
}

.content .xporto a.denny {
  background-image: url("../image/img_denny/denny.jpeg");
  background-size: cover;
  height: 300px;
}

.content .xporto a.new::before {
  content: "add";
  font-family: "Material Symbols Outlined";
  font-size: 80px;    /* atur ukuran icon */
  color: #333;         /* warna icon */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;

}
.content .xporto a.new {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background: #ddd;
  border-radius: 15px;
  text-decoration: none;
}

@media (max-width: 991px) {
  .dynapuff-title {
    font-size: 30px;
  }
}

