.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1000;
  flex-wrap: wrap;
  white-space: nowrap; /* BARIS TIDAK BOLEH TURUN */
}

/* Bagian kiri (Logo) */
.logo-navbar {
  background-image: url("../image/logo/porto-resize.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 100px;
  margin-left: 10px;
}

/* Bagian tengah (Menu) */
.menu-navbar {
  display: flex;
  justify-content: center;
  flex: 1; /* Biar menempati ruang tengah */
  gap: 10px;
}

.menu-navbar a {
  color: #000;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

/* Hover & aktif */
.menu-navbar a:hover,
.menu-navbar a.active {
  background-color: #ddd;
  color: black;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* Bagian kanan (Login) */
.login-navbar a {
  background-color: #ddd;
  color: black;
  margin-right: 20px;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

.login-navbar a:hover {
  background-color: #ddd;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2); 
}

/* Responsif untuk layar kecil */
@media (max-width: 700px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    white-space: normal; /* boleh turun jika layar kecil */
  }

  .menu-navbar {
    order: 3;
    flex-wrap: wrap;
  }

  .login-navbar {
    order: 2;
    margin: 5px 0;
  }
} 