@import url("css_reset.css");
/* ======================
   BASE
====================== */
* {
  box-sizing: border-box;
}

.navbar {
  border-radius: 0 0 15px 15px;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0 6px 5px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 0 15px;
  z-index: 1000;
}

/* LOGO */
.logo-navbar {
  background-image: url("../image/logo/porto-resize.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 120px;
}

/* HAMBURGER */
#nav-toggle {
  display: none;
}

.nav-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
  margin-left: auto;
}

/* MENU */
.menu-navbar {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
  justify-content: center;
}

.menu-navbar a {
  font: 18px "Segoe UI", Arial, sans-serif;
  color: #000;
  padding: 10px 16px;
  text-decoration: none;
  border-radius: 5px;
}

.menu-navbar a:hover,
.menu-navbar a.active {
  background: #ddd;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

/* LOGIN DESKTOP */
.login-navbar {
  background: #ddd;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 5px;
  color: #000;
}
.login-navbar:hover {
  background: #ccc;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

/* LOGIN MOBILE */
.login-mobile {
  display: none;
  margin-top: 10px;
}

/* ======================
   TABLET & HP
====================== */
@media (max-width: 991px) {
  .nav-toggle {
    display: block;
  }

  .menu-navbar {
    position: absolute;
    max-height: calc(100vh - 80px);
    position: absolute;
    top: 100px;
    left: 25%;
    right: 25%;
    background: #fff;
    flex-direction: column;
    display: none;
    padding: 10px 0;
    box-shadow: 0 6px 5px rgba(0,0,0,0.7);
    border-radius: 0 0 15px 15px;
  }

  #nav-toggle:checked ~ .menu-navbar {
    display: flex;
  }

  .menu-navbar a {
    width: 100%;
    text-align: center;
  }

  .login-navbar {
    display: none;
  }

  .login-mobile {
    display: block;
    width: 90%;
    text-align: center;
  }

  .login-mobile:hover {
    background: #ccc;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  }
}

/* ======================
   DESKTOP
====================== */
@media (min-width: 992px) {
  .menu-navbar {
    justify-content: center;
  }
}
